<ion-header>
  <ion-toolbar>
    <ion-title>Campaigns</ion-title>

    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="presentModal()">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label>Group</ion-label>
      <ion-select value="">
        <ion-select-option value="">All</ion-select-option>
        <ion-select-option value="1">Group A</ion-select-option>
        <ion-select-option value="2">Group B</ion-select-option>
        <ion-select-option value="3">Group C</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="4" *ngFor="let campaign of campaigns">
        <app-campaign-card 
          [title]="campaign.title" 
          [description]="campaign.description"
          [routerLink]="['/dashboard/campaigns', campaign.id]"
        >
        </app-campaign-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
