<ion-header>
  <ion-toolbar>
    <ion-title>Group Name</ion-title>

    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="presentModal()">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col class="ion-no-padding" size="12">
        <ion-card class="">
          <ion-card-header>
            <ion-card-title>Group Description</ion-card-title>
          </ion-card-header>
      
          <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-sm="6">
        <a routerDirection="forward" [routerLink]="['users']">
          <ion-card class="">
            <ion-card-header>
              <ion-card-title>Group Members
                <!-- <ion-button fill="clear" color="dark" class="ion-float-right">
                <ion-icon slot="icon-only" name="add-circle"></ion-icon>
              </ion-button> -->
              </ion-card-title>
            </ion-card-header>
      
            <ion-card-content>
              Manage members for this group.
      
            </ion-card-content>
          </ion-card>
        </a>
      </ion-col>

      <ion-col size="12" size-sm="6">
        <a routerDirection="forward" [routerLink]="['/dashboard/campaigns']">
          <ion-card class="">
            <ion-card-header>
              <ion-card-title>Campaigns</ion-card-title>
            </ion-card-header>
      
            <ion-card-content>
              View campaigns for this group.
            </ion-card-content>
          </ion-card>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>
  

</ion-content>