<ion-header>
  <ion-toolbar>
    <ion-title>Create Group</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="groupForm" (ngSubmit)="create()">
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input placeholder="The groupe name" type="text" formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Description</ion-label>
      <ion-textarea placeholder="The group public description" formControlName="description"></ion-textarea>
    </ion-item>
  </form>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="create(true)">Create</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>