<ion-header>
  <ion-toolbar>
    <ion-title>Groups</ion-title>

    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="4">
        <a routerDirection="forward" [routerLink]="['.', 1]">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>User Role</ion-card-subtitle>
              <ion-card-title>
                Group Title 
                <ion-icon name="flame"></ion-icon>
              </ion-card-title>
            </ion-card-header>
  
            <ion-card-content> 
              <ion-badge slot="end">200 users</ion-badge> 
              <br>
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
            </ion-card-content>
          </ion-card>
        </a>
      </ion-col>

      <ion-col size="12" size-md="4">
        <a routerDirection="forward" [routerLink]="['.', 1]">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>User Role</ion-card-subtitle>
              <ion-card-title>
                Group Title 
                <ion-icon name="flame"></ion-icon>
              </ion-card-title>
            </ion-card-header>
  
            <ion-card-content> 
              <ion-badge slot="end">200 users</ion-badge> 
              <br>
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
            </ion-card-content>
          </ion-card>
        </a>
      </ion-col>

      <ion-col size="12" size-md="4">
        <a routerDirection="forward" [routerLink]="['.', 1]">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>User Role</ion-card-subtitle>
              <ion-card-title>
                Group Title 
                <ion-icon name="flame"></ion-icon>
              </ion-card-title>
            </ion-card-header>
  
            <ion-card-content> 
              <ion-badge slot="end">200 users</ion-badge> 
              <br>
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
            </ion-card-content>
          </ion-card>
        </a>
      </ion-col>

      <ion-col size="12" size-md="4">
        <a routerDirection="forward" [routerLink]="['.', 1]">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>User Role</ion-card-subtitle>
              <ion-card-title>
                Group Title 
                <ion-icon name="flame"></ion-icon>
              </ion-card-title>
            </ion-card-header>
  
            <ion-card-content> 
              <ion-badge slot="end">200 users</ion-badge> 
              <br>
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
            </ion-card-content>
          </ion-card>
        </a>
      </ion-col>

    </ion-row>
  </ion-grid>


</ion-content>